body{
	background-color: navy;
	color: pink;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
header{
	
  display: flex;
	flex-direction: row;

}
#header-img{
	width: 20px;
	height: 20px;
}
#nav-bar {
  
  background-color: #333;
  position: fixed; 
  top: 0; 
  width: 100%; 
} 
#nav-bar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul{
	display: flex;
	flex-direction: row;
	list-style: none;
	top: 0;
}
li{
	text-align: right;
}
li:after{
	content: " | ";
}
li:last-child:after{
	content: "";
}
#form-div{
	text-align: center;
	padding: 40px;
}
#video{
	margin-left: 200px;
}
#wrapper{
	display: flex;
	flex-direction: row;

}
#one{
	background-color: #101820FF;
}

#two{
	background-color: #F2AA4CFF;
}

#three{
	background-color: #2460A7FF;
}

#one,#two,#three{
	border: 1px solid green;
	padding-bottom: 4px;
}
footer{
	text-align: right;
}